{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>groupie</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>hi, we’re groupie.</h1>
			<h2>we make festivals better</h2>

			<p>connect with your favorite artists, get exclusive rewards, then show it off. sign up to be the first to get updates &amp; follow us on social media</p>

			

			<a href="https://twitter.com/getgroupie" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/getgroupie" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>